:root {
    --primary:#3D00B7;
    --secondary:#1E93FF;
    --secondary-dark:#2639ED;
    --black: #000;
    --white: #ffffff;
    --gray-90:#220970;
    --ggi:#3D3D3D;
    --gray-80:#565656;
    --fsdf:#959595;
    --gray-70:#696969;
    --gray-60:#636363;
    --gray-30:#A4A4A4;
    --gray-50:#757575;
    --gray-40:#838383;
    --gray-20:#F5F5F5;
    --gray-10:#EFEFEF;
    --gray-5:#ECECEC;
    --gray-2:#F0F0F0;
   
    --opp:#F4F4F4;
    --ggg:#C0C0C0;
    --gg: #363639;
    --ffdfsdf:#3A3A3A;

    --green:#14C8B0;
    --green-light:#00AC4F;
    --blue:#3D00B7;
    --blue-light:#5539A8;
    --blue-lig:#4F33A3;
    --red-80:#FF002E;
    --fb-color:#3B5998;
    --tw-color:#55ACEE;
    --in-color:#007AB9;

    /* font size */
    --h1-font-size:2.5rem;
    --h2-font-size:2.1rem;
    --h3-font-size:2rem;
    --h4-font-size:1.75;
    --h5-font-size:1.25;
    --body1-font-size:1rem;
    --body2-font-size:1.12rem;
    --body3-font-size:0.87rem;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


@font-face {
    font-family: "IntegralCFBold";
    src: local("IntegralCFBold"),
     url("./fonts/integral-cf/integralcf-bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "IntegralCFRegular";
    src: url(./fonts/integral-cf/integralcf-regular.otf);
    /* font-weight: regular; */
}

/* body{
    font-family: "IntegralCFRegular";
}

h1{
    font-family: "IntegralCFBold";
} */


.App-header{
    background-color: var(--black);
    color: var(--white);
    font-family: "IntegralCFBold";
}